<div class="tutorial-stages">
    <a href="<%= contentLanguageHtml %>">
        <button class="first-stage">
            <div>
                <i class="fa-brands fa-pied-piper"></i>
            </div>
            <span id="first-stage-btn">
                <%= firstStageHtml %>
            </span>
        </button>
    </a>
    <a href="<%= contentLanguageHtml %>/<%= secondStageUrlHtml %> ">
        <button class="second-stage">
            <div>
                <i class="fa-solid fa-1"></i>
            </div>
            <span id="second-stage-btn">
                <%= secondStageHtml %>
            </span>
        </button>
    </a>
    <a href="#">
        <button class="third-stage">
            <div>
                <i class="fa-solid fa-2"></i>
            </div>
            <span id="third-stage-btn">
                <%= thirdStageHtml %>
            </span>
        </button>
    </a>
    <a href="#">
        <button class="fourth-stage">
            <div>
                <i class="fa-solid fa-3"></i>
            </div>
            <span id="forth-stage-btn">
                <%= forthStageHtml %>
            </span>
        </button>
    </a>
</div>