<div class="footer">
    <div class="footer-nav">
        <div class="footer-nav-section">
            <div class="footer-nav-title" id="research">
                <%= researchHtml %>
            </div>
            <div class="footer-nav-content">
                <a href="https://library.bilgi.edu.tr/en/database/" target="_blank" id="databases">
                    <%= databasesHtml %> 
                </a>
                <a href="https://library.bilgi.edu.tr/en/reserve-collection/" target="_blank" id="reserves">
                    <%= reservesHtml %>
                </a>
                <a href="https://eds.s.ebscohost.com/eds/search/basic?sid=b4c47195-3738-47b0-a5d0-6c2b0d746af3%40redis&vid=0&sdb=edspub&tid=3000EP"
                    target="_blank" id="e-Journals">
                    <%= eJournalsHtml %>
                </a>
                <a href="https://opac.bilgi.edu.tr/search" target="_blank" id="classics">
                    <%= classicsHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/open-access-en/" target="_blank" id="open-access">
                    <%= openAccessHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/kpy-library/" target="_blank" id="kpy-collection">
                    <%= kpyCollectionHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/european-union-information-collection/" target="_blank"
                    id="eu-info">
                    <%= euInfoHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/human-rights-collection/" target="_blank"
                    id="hr-collection">
                    <%= hrCollectionHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/higher-education-collection/" target="_blank"
                    id="he-collection">
                    <%= heCollectionHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/arrivals/" target="_blank" id="arrivals">
                    <%= arrivalsHtml %>
                </a>
            </div>
        </div>
        <div class="footer-nav-section">
            <div class="footer-nav-title" id="services">
                <%= servicesHtml %>
            </div>
            <div class="footer-nav-content">
                <a href="https://library.bilgi.edu.tr/en/borrowing-circulation/" target="_blank"
                    id="borrowing">
                    <%= borrowingHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/article-processing-charge-apc/" target="_blank"
                    id="article-processing">
                    <%= articleProcessingHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/collection-development/" target="_blank"
                    id="collection-development">
                    <%= collectionDevelopmentHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/interlibrary-loan-ill/" target="_blank" id="ill">
                    <%= illHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/reserve/" target="_blank" id="reserve-request">
                    <%= reserveRequestHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/internship-application/" target="_blank"
                    id="internship">
                    <%= internshipHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/transit/" target="_blank" id="in-transit">In-Transit</a>
            </div>
        </div>
        <div class="footer-nav-section">
            <div class="footer-nav-title" id="support">
                <%= supportHtml %>
            </div>
            <div class="footer-nav-content">
                <a href="https://library.bilgi.edu.tr/en/instruction/" target="_blank" id="library-instruction">
                    <%= libraryInstructionHtml %>
                </a>
                <a href="https://bilgi-tr.libguides.com/?b=g&d=a" target="_blank" id="library-guides">
                    <%= libraryGuidesHtml %>
                </a>
                <a href="#" target="_blank" id="ask">
                    <%= askHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/events/campus-access-events/" target="_blank"
                    id="off-campus">
                    <%= offCampusHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/faq/" target="_blank" id="faq">
                    <%= faqHtml %>
                </a>
            </div>
        </div>
        <div class="footer-nav-section">
            <div class="footer-nav-title" id="about">
                <%= aboutHtml %>
            </div>
            <div class="footer-nav-content">
                <a href="https://library.bilgi.edu.tr/en/the-library/" target="_blank" id="the-library">
                    <%= libraryHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/contact/" target="_blank" id="contact">
                    <%= contactHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/library-rules/" target="_blank" id="rules">
                    <%= rulesHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/staff/" target="_blank" id="team">
                    <%= teamHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/library-hours/" target="_blank" id="hours">
                    <%= hoursHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/alumni/" target="_blank" id="alumni">
                    <%= alumniHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/visiting-users/" target="_blank" id="external-users">
                    <%= externalUsersHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/memberships/" target="_blank" id="membership">
                    <%= membershipHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/copyright/" target="_blank" id="copyright">
                    <%= copyrightHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/learningoutcomes/" target="_blank" id="outcomes">
                    <%= outcomesHtml %>
                </a>
                <a href="https://library.bilgi.edu.tr/en/events/archive/" target="_blank" id="news">
                    <%= newsHtml %>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-add">
        <div class="address-bar">
            <a href="https://www.google.com/maps/place/%C4%B0stanbul+Bilgi+%C3%9Cniversitesi+Ku%C5%9Ftepe+Kamp%C3%BCs%C3%BC/@41.0744213,28.988703,16z/data=!4m2!3m1!1s0x14cab6fbac23ee9f:0x53c9e53021cf2858"
                target="_blank">
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Kuştepe <%= libraryNameHtml %></span>
                </div>
                <span>İnönü Cad. No: 72 <br> Kuştepe 34387 <br> Şişli / İstanbul</span>
            </a>
        </div>
        <div class="address-bar">
            <a href="https://www.google.com.tr/maps/place/%C4%B0stanbul+Bilgi+%C3%9Cniversitesi+Dolapdere+Kamp%C3%BCs%C3%BC/@41.0382849,28.9674367,15z/data=!4m8!1m2!2m1!1s%C4%B0stanbul+Bilgi+%C3%9Cniversitesi+Dolapdere+Kamp%C3%BCs%C3%BC!3m4!1s0x14cab75dae201221:0x76dcae239b6c7dc6!8m2!3d41.0391023!4d28.9737002?hl=tr"
                target="_blank">
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Dolapdere <%= libraryNameHtml %></span>
                </div>
                <span>Hacıahmet Mahallesi <br> Pir Hüsamettin Sokak No:20 <br> 34440 Beyoğlu İstanbul</span>
            </a>
        </div>
        <div class="address-bar">
            <a href="https://www.google.com/maps/place/Santral+%C4%B0stanbul+Library/@41.0661653,28.9461368,15z/data=!4m5!3m4!1s0x0:0xc214642b69e81e8f!8m2!3d41.0661653!4d28.9461368"
                target="_blank">
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <span>santralistanbul <%= libraryNameHtml %> </span>
                </div>
                <span>Eski Silahtarağa Elektrik Santrali <br> Kazım Karabekir Cad. No: 2/13 <br> 34060
                    Eyüpsultan İstanbul</span>
            </a>
        </div>
        <div class="address-bar">
            <a href="mailto:kutuphane@bilgi.edu.tr" class="library-mail">kutuphane@bilgi.edu.tr</a>
            <div class="social-media">
                <div>
                    <a href="https://bilgilibraries.wordpress.com/" target="_blank">
                        <i class="fa-brands fa-wordpress"></i>
                    </a>
                    <a href="https://tr.pinterest.com/bilgilibrary/" target="_blank">
                        <i class="fa-brands fa-pinterest-square"></i>
                    </a>
                    <a href="https://twitter.com/BILGI_Library" target="_blank">
                        <i class="fa-brands fa-twitter-square"></i>
                    </a>
                </div>
                <div>
                    <a href="https://www.facebook.com/%C4%B0stanbul-Bilgi-%C3%9Cniversitesi-K%C3%BCt%C3%BCphane-ve-e-Kaynaklar-108312431709008/"
                        target="_blank">
                        <i class="fa-brands fa-facebook-square"></i>
                    </a>
                    <a href="https://www.instagram.com/bilgi_library/" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCoKziRQ2lDstEmghCRGzMXg" target="_blank">
                        <i class="fa-brands fa-youtube-square"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-out">
        <div>
            <a href="https://www.bilgi.edu.tr" target="_blank">www.bilgi.edu.tr</a>
        </div>
        <div>
            <img class="footer-out-logo" src="/image/bilgi-logotype-tr@2x.png" alt="bilgi-logotype-tr">
        </div>
        <div>
            <a href="mailto:info@bilgi.edu.tr">info@bilgi.edu.tr</a>
        </div>
    </div>
</div>