<div class="tutorial-content">
    <span id="tutorial-intro">
        <%= tutorialIntroHtml %>
    </span>
    <ul>
        <li id="tutorial-list-0">
            <%= tutorialListHtml0 %>
        </li>
        <li id="tutorial-list-1">
            <%= tutorialListHtml1 %>
        </li>
        <li id="tutorial-list-2">
            <%= tutorialListHtml2 %>
        </li>
        <li id="tutorial-list-3">
            <%= tutorialListHtml3 %>
        </li>
        <li id="tutorial-list-4">
            <%= tutorialListHtml4 %>
        </li>
        <li id="tutorial-list-5">
            <%= tutorialListHtml5 %>
        </li>
        <li id="tutorial-list-6">
            <%= tutorialListHtml6 %>
        </li>
        <li id="tutorial-list-7">
            <%= tutorialListHtml7 %>
        </li>
        <li id="tutorial-list-8">
            <%= tutorialListHtml8 %>
        </li>
        <li id="tutorial-list-9">
            <%= tutorialListHtml9 %>
        </li>
        <li id="tutorial-list-10">
            <%= tutorialListHtml10 %>
        </li>
        <li id="tutorial-list-11">
            <%= tutorialListHtml11 %>
        </li>
    </ul>
    <div class="lc-examples">
        <div class="lc-examples-box">
            <div class="lc-examples-box-in">
                <div class="lc-code">
                    <h3>
                        A<br>301<br>.C85
                    </h3>
                </div>
                <div class="lc-code">
                    <h3>
                        E<br>302<br>.H277
                    </h3>
                </div>
                <div class="lc-code">
                    <h3>
                        E<br>302<br>.H28
                    </h3>
                </div>
            </div>
            <div class="lc-examples-box-in">
                <div class="lc-code">
                    <h3>
                        E<br>302<br>.1<br>.A2
                    </h3>
                </div>
                <div class="lc-code">
                    <h3>
                        E<br>302<br>.1<br>.A2<br>S31
                    </h3>
                </div>
                <div class="lc-code">
                    <h3>
                        E<br>302<br>.1<br>.A2<br>S4
                    </h3>
                </div>
            </div>
        </div>
        <div class="lc-examples-box">
            <div class="lc-examples-box-in">
                <div class="lc-code">
                    <h3>
                        E<br>302<br>.1<br>.A2<br>S31
                    </h3>
                </div>
                <div class="lc-code">
                    <h3>
                        E<br>302<br>.1<br>.A2<br>S4
                    </h3>
                </div>
                <div class="lc-code">
                    <h3>
                        E<br>302<br>.1<br>.A2<br>S4<br>1949
                    </h3>
                </div>
            </div>
            <div class="lc-examples-box-in">
                <div class="lc-code">
                    <h3>
                        E<br>303<br>.M41<br>1960
                    </h3>
                </div>
                <div class="lc-code">
                    <h3>
                        EB<br>277<br>.Y2
                    </h3>
                </div>
                <div class="lc-code">
                    <h3>
                        F<br>15<br>.A15
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="animation-info">
        <span class="play-animation-description">
            <%= playAnimationDescriptionHtml %> 
        </span>
        <button class="play-animation">
            <%= playAnimationHtml %>
        </button>
    </div>
    <div class="code-animation hidden">
        <div class="animation-description">
            <div class="code-box">
                <div class="code-1">
                    <h1 class="letter-code-1 hidden">E</h1>
                    <h1 class="number-line-1 hidden">302</h1>
                    <h1 class="decimal-part-1 hidden">.1</h1>
                </div>
                <div class="code-2 hidden">
                    <h1 class="letter-code-2 hidden">E</h1>
                    <h1 class="number-line-2 hidden">302</h1>
                    <h1 class="cutter-line-2 hidden">.H277</h1>
                </div>
                <div class="code-3 hidden">
                    <h1 class="letter-code-3 hidden">E</h1>
                    <h1 class="number-line-3 hidden">302</h1>
                    <h1 class="cutter-line-3 hidden">.H277</h1>
                    <h1 class="volume-line-3 hidden">1998</h1>
                </div>
                <div class="code-4 hidden">
                    <h1 class="letter-code-4 hidden">E</h1>
                    <h1 class="number-line-4 hidden">302</h1>
                    <h1 class="cutter-line-4 hidden">.H277</h1>
                    <h1 class="volume-line-4 hidden">1998</h1>
                    <h1 class="copy-line-4 hidden">Copy 2</h1>
                </div>
                <div class="code-5 hidden">
                    <h1 class="letter-code-5">E</h1>
                    <h1 class="number-line-5">302</h1>
                    <h1 class="cutter-line-5">.12</h1>
                </div>
            </div>
            <div class="description-box">
                <ul class="instructions-1">
                    <li class="inst-1-1 hidden">
                        <%= instHtml1_1 %>
                    </li>
                    <li class="inst-1-2 hidden">
                        <%= instHtml1_2 %>
                    </li>
                    <li class="inst-1-3 hidden">
                        <%= instHtml1_3 %>
                    </li>
                </ul>
                <ul class="instructions-2 hidden">
                    <li class="inst-2-1 hidden">
                        <%= instHtml2_1 %>
                    </li>
                </ul>
                <ul class="instructions-3 hidden">
                    <li class="inst-3-1 hidden">
                        <%= instHtml3_1 %>
                    </li>
                    <li class="inst-3-2 hidden">
                        <%= instHtml3_2 %>
                    </li>
                </ul>
                <ul class="instructions-4 hidden">
                    <li class="inst-4-1 hidden">
                        <%= instHtml4_1 %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="complete-animation hidden">
        <h3 class="completed-text">
            <%= completedTextHtml %>
        </h3>
    </div>
    <a href="<%= contentLanguageHtml %>/<%= secondStageUrlHtml %>" class="start-tests hidden">
        <div>
            <span id="start-test"> <%= startTestHtml %> </span>
        </div>
    </a>
</div>