<div class="tutorial-content">
    <h4>
        <%= firstStageInfoHtml %>
    </h4>
    <span>
        <%= secondStageQuestionHtml %>
    </span>
    <span>
        <span style="font-weight: 700; color: maroon;">
            <%= firstStageNoteTitleHtml %>
        </span>
        <%= firstStageNoteHtml %>
    </span>
    <!-- First Question -->
    <div class="question-stage2">
        <div class="question-number">1-)</div>
        <div class="question-content">
            <div class="question-stage2-content">
                <div class="will-be-shelved">
                    <div class="default">
                        <div class="books fill-0" draggable="true">
                            <div class="book draggable-book">
                                <div class="book-name"> <span>Atatürk</span> </div>
                                <div class="lc-code-test">
                                    <h3> LC<br>1085<br>.2<br>.B63<br>1994 </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bookshelf">
                    <div class="books-st2">
                        <div class="parent uncorrect">
                            <div class="book default empty empty-0"></div>
                        </div>
                        <div class="book first-book-color-st2 non-clickable">
                            <div class="book-name"> <span>White Fang</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1085<br>.2<br>.B424<br>1993 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-0"></div>
                        </div>
                        <div class="book second-book-color-st2 non-clickable">
                            <div class="book-name"> <span>Kürk Mantolu Madonna</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1085<br>.2<br>.B461<br>1993 </h3>
                            </div>
                        </div>
                        <div class="parent">
                            <div class="book default empty empty-0"></div>
                        </div>
                        <div class="book third-book-color-st2 non-clickable">
                            <div class="book-name"> <span>Tehlikeli Oyunlar</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1085<br>.2<br>.L8x<br>1992 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-0"></div>
                        </div>
                        <div class="book forth-book-color-st2 non-clickable">
                            <div class="book-name"> <span>Bir Bilim Adamının Romanı</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1085<br>.2<br>.L88<br>1993 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-0"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span class="hidden correct-result-0">
                    <%= correctResultHtml0 %>
                </span>
                <span class="hidden wrong-result-0">
                    <%= wrongResultHtml3 %>
                </span>
            </div>
        </div>
    </div>
    <!-- Second Question -->
    <div class="question-stage2">
        <div class="question-number">2-)</div>
        <div class="question-content">
            <div class="question-stage2-content">
                <div class="will-be-shelved">
                    <div class="default">
                        <div class="books fill-1" draggable="true">
                            <div class="book draggable-book">
                                <div class="book-name"> <span>Pride & Prejudice</span> </div>
                                <div class="lc-code-test">
                                    <h3> LC<br>1091<br>.M849<br>c.2 </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bookshelf">
                    <div class="books-st2">
                        <div class="parent">
                            <div class="book default empty empty-1"></div>
                        </div>
                        <div class="book first-book-color-st2 non-clickable">
                            <div class="book-name"> <span>The Merchant of Venice</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1099<br>.2<br>.M83 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-1"></div>
                        </div>
                        <div class="book second-book-color-st2 non-clickable">
                            <div class="book-name"> <span>The Lord Of The Rings</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1099<br>.M84x<br>1988 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-1"></div>
                        </div>
                        <div class="book third-book-color-st2 non-clickable">
                            <div class="book-name"> <span>The Lord Of The Rings</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1099<br>.M84x<br>1988<br>c.2 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-1"></div>
                        </div>
                        <div class="book forth-book-color-st2 non-clickable">
                            <div class="book-name"> <span>Harry Potter</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1099<br>.M848<br>1984 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span class="hidden correct-result-1">
                    <%= correctResultHtml0 %>
                </span>
                <span class="hidden wrong-result-1">
                    <%= wrongResultHtml3 %>
                </span>
            </div>
        </div>
    </div>
    <!-- Third Question -->
    <div class="question-stage2">
        <div class="question-number">3-)</div>
        <div class="question-content">
            <div class="question-stage2-content">
                <div class="will-be-shelved">
                    <div class="default">
                        <div class="books fill-2" draggable="true">
                            <div class="book draggable-book">
                                <div class="book-name"> <span>The Turks in History</span> </div>
                                <div class="lc-code-test">
                                    <h3> LC<br>1091<br>.M683<br>1993 </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bookshelf">
                    <div class="books-st2">
                        <div class="parent uncorrect">
                            <div class="book default empty empty-2"></div>
                        </div>
                        <div class="book first-book-color-st2 non-clickable">
                            <div class="book-name"> <span>The Great Britain</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1091<br>.M67 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-2"></div>
                        </div>
                        <div class="book second-book-color-st2 non-clickable">
                            <div class="book-name"> <span>History of Roman Empire</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1091<br>.M68 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-2"></div>
                        </div>
                        <div class="book third-book-color-st2 non-clickable">
                            <div class="book-name"> <span>Yunanlar ve Türkler</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1091<br>.M68<br>1994 </h3>
                            </div>
                        </div>
                        <div class="parent">
                            <div class="book default empty empty-2"></div>
                        </div>
                        <div class="book forth-book-color-st2 non-clickable">
                            <div class="book-name"> <span>The Chinese People in History</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1091<br>.P3x </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span class="hidden correct-result-2">
                    <%= correctResultHtml0 %>
                </span>
                <span class="hidden wrong-result-2">
                    <%= wrongResultHtml3 %>
                </span>
            </div>
        </div>
    </div>
    <!-- Forth Question -->
    <div class="question-stage2">
        <div class="question-number">4-)</div>
        <div class="question-content">
            <div class="question-stage2-content">
                <div class="will-be-shelved">
                    <div class="default">
                        <div class="books fill-3" draggable="true">
                            <div class="book draggable-book">
                                <div class="book-name"> <span>The Little Prince</span> </div>
                                <div class="lc-code-test">
                                    <h3> RB<br>73<br>.P35<br>c.2 </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bookshelf">
                    <div class="books-st2">
                        <div class="parent uncorrect">
                            <div class="book default empty empty-3">

                            </div>
                        </div>
                        <div class="book first-book-color-st2">
                            <div class="book-name"> <span>Dream of the Red Chamber</span> </div>
                            <div class="lc-code-test">
                                <h3> RB<br>73<br>.N59<br>1985 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-3">

                            </div>
                        </div>
                        <div class="book second-book-color-st2">
                            <div class="book-name"> <span>And Then There Were None</span> </div>
                            <div class="lc-code-test">
                                <h3> RB<br>73<br>.O35 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-3">

                            </div>
                        </div>
                        <div class="book third-book-color-st2">
                            <div class="book-name"> <span>Dream of the Red Chamber</span> </div>
                            <div class="lc-code-test">
                                <h3> RB<br>73<br>.O54<br>1989 </h3>
                            </div>
                        </div>
                        <div class="parent">
                            <div class="book default empty empty-3">

                            </div>
                        </div>
                        <div class="book forth-book-color-st2">
                            <div class="book-name"> <span>The Hobbit</span> </div>
                            <div class="lc-code-test">
                                <h3> RB<br>73<br>.R62 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-3">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span class="hidden correct-result-3">
                    <%= correctResultHtml0 %>
                </span>
                <span class="hidden wrong-result-3">
                    <%= wrongResultHtml3 %>
                </span>
            </div>
        </div>
    </div>
</div>