<div class="tutorial-content">
    <h4>
        <%= firstStageInfoHtml %>
    </h4>
    <span>
        <%= secondStageQuestionHtml %>
    </span>
    <span>
        <span style="font-weight: 700; color: maroon;">
            <%= firstStageNoteTitleHtml %>
        </span>
        <%= firstStageNoteHtml %>
    </span>
    <!-- First Question -->
    <div class="question-stage2">
        <div class="question-number">1-)</div>
        <div class="question-content">
            <div class="question-stage2-content">
                <div class="will-be-shelved">
                    <div class="default">
                        <div class="books fill-0" draggable="true">
                            <div class="book draggable-book">
                                <div class="book-name"> <span>Atatürk</span> </div>
                                <div class="lc-code-test">
                                    <h3> LC<br>1085<br>.2<br>.B63<br>1994 </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bookshelf">
                    <div class="books-st2">
                        <div class="parent uncorrect">
                            <div class="book default empty empty-0"></div>
                        </div>
                        <div class="book first-book-color-st2 non-clickable">
                            <div class="book-name"> <span>White Fang</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1085<br>.2<br>.B424<br>1993 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-0"></div>
                        </div>
                        <div class="book second-book-color-st2 non-clickable">
                            <div class="book-name"> <span>Kürk Mantolu Madonna</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1085<br>.2<br>.B461<br>1993 </h3>
                            </div>
                        </div>
                        <div class="parent">
                            <div class="book default empty empty-0"></div>
                        </div>
                        <div class="book third-book-color-st2 non-clickable">
                            <div class="book-name"> <span>Tehlikeli Oyunlar</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1085<br>.2<br>.L8x<br>1992 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-0"></div>
                        </div>
                        <div class="book forth-book-color-st2 non-clickable">
                            <div class="book-name"> <span>Bir Bilim Adamının Romanı</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1085<br>.2<br>.L88<br>1993 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-0"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span class="hidden correct-result-0">
                    <%= correctResultHtml0 %>
                </span>
                <span class="hidden wrong-result-0">
                    <%= wrongResultHtml3 %>
                </span>
            </div>
        </div>
    </div>
    <!-- Second Question -->
    <div class="question-stage2">
        <div class="question-number">2-)</div>
        <div class="question-content">
            <div class="question-stage2-content">
                <div class="will-be-shelved">
                    <div class="default">
                        <div class="books fill-1" draggable="true">
                            <div class="book draggable-book">
                                <div class="book-name"> <span>Pride & Prejudice</span> </div>
                                <div class="lc-code-test">
                                    <h3> LC<br>1091<br>.M849<br>c.2 </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bookshelf">
                    <div class="books-st2">
                        <div class="parent">
                            <div class="book default empty empty-1"></div>
                        </div>
                        <div class="book first-book-color-st2 non-clickable">
                            <div class="book-name"> <span>The Merchant of Venice</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1099<br>.2<br>.M83 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-1"></div>
                        </div>
                        <div class="book second-book-color-st2 non-clickable">
                            <div class="book-name"> <span>The Lord Of The Rings</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1099<br>.M84x<br>1988 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-1"></div>
                        </div>
                        <div class="book third-book-color-st2 non-clickable">
                            <div class="book-name"> <span>The Lord Of The Rings</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1099<br>.M84x<br>1988<br>c.2 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-1"></div>
                        </div>
                        <div class="book forth-book-color-st2 non-clickable">
                            <div class="book-name"> <span>Harry Potter</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1099<br>.M848<br>1984 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span class="hidden correct-result-1">
                    <%= correctResultHtml0 %>
                </span>
                <span class="hidden wrong-result-1">
                    <%= wrongResultHtml3 %>
                </span>
            </div>
        </div>
    </div>
    <!-- Third Question -->
    <div class="question-stage2">
        <div class="question-number">3-)</div>
        <div class="question-content">
            <div class="question-stage2-content">
                <div class="will-be-shelved">
                    <div class="default">
                        <div class="books fill-2" draggable="true">
                            <div class="book draggable-book">
                                <div class="book-name"> <span>The Turks in History</span> </div>
                                <div class="lc-code-test">
                                    <h3> LC<br>1091<br>.M683<br>1993 </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bookshelf">
                    <div class="books-st2">
                        <div class="parent uncorrect">
                            <div class="book default empty empty-2"></div>
                        </div>
                        <div class="book first-book-color-st2 non-clickable">
                            <div class="book-name"> <span>The Great Britain</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1091<br>.M67 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-2"></div>
                        </div>
                        <div class="book second-book-color-st2 non-clickable">
                            <div class="book-name"> <span>History of Roman Empire</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1091<br>.M68 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-2"></div>
                        </div>
                        <div class="book third-book-color-st2 non-clickable">
                            <div class="book-name"> <span>Yunanlar ve Türkler</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1091<br>.M68<br>1994 </h3>
                            </div>
                        </div>
                        <div class="parent">
                            <div class="book default empty empty-2"></div>
                        </div>
                        <div class="book forth-book-color-st2 non-clickable">
                            <div class="book-name"> <span>The Chinese People in History</span> </div>
                            <div class="lc-code-test">
                                <h3> LC<br>1091<br>.P3x </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span class="hidden correct-result-2">
                    <%= correctResultHtml0 %>
                </span>
                <span class="hidden wrong-result-2">
                    <%= wrongResultHtml3 %>
                </span>
            </div>
        </div>
    </div>
    <!-- Forth Question -->
    <div class="question-stage2">
        <div class="question-number">4-)</div>
        <div class="question-content">
            <div class="question-stage2-content">
                <div class="will-be-shelved">
                    <div class="default">
                        <div class="books fill-3" draggable="true">
                            <div class="book draggable-book">
                                <div class="book-name"> <span>The Little Prince</span> </div>
                                <div class="lc-code-test">
                                    <h3> RB<br>73<br>.P35<br>c.2 </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bookshelf">
                    <div class="books-st2">
                        <div class="parent uncorrect">
                            <div class="book default empty empty-3">

                            </div>
                        </div>
                        <div class="book first-book-color-st2">
                            <div class="book-name"> <span>Dream of the Red Chamber</span> </div>
                            <div class="lc-code-test">
                                <h3> RB<br>73<br>.N59<br>1985 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-3">

                            </div>
                        </div>
                        <div class="book second-book-color-st2">
                            <div class="book-name"> <span>And Then There Were None</span> </div>
                            <div class="lc-code-test">
                                <h3> RB<br>73<br>.O35 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-3">

                            </div>
                        </div>
                        <div class="book third-book-color-st2">
                            <div class="book-name"> <span>Dream of the Red Chamber</span> </div>
                            <div class="lc-code-test">
                                <h3> RB<br>73<br>.O54<br>1989 </h3>
                            </div>
                        </div>
                        <div class="parent">
                            <div class="book default empty empty-3">

                            </div>
                        </div>
                        <div class="book forth-book-color-st2">
                            <div class="book-name"> <span>The Hobbit</span> </div>
                            <div class="lc-code-test">
                                <h3> RB<br>73<br>.R62 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-3">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span class="hidden correct-result-3">
                    <%= correctResultHtml0 %>
                </span>
                <span class="hidden wrong-result-3">
                    <%= wrongResultHtml3 %>
                </span>
            </div>
        </div>
    </div>
    <!-- Fifth Question -->
    <div class="question-stage2">
        <div class="question-number">5-)</div>
        <div class="question-content">
            <div class="question-stage2-content">
                <div class="will-be-shelved">
                    <div class="default">
                        <div class="books fill-4" draggable="true">
                            <div class="book draggable-book">
                                <div class="book-name"> <span>Pyhton</span> </div>
                                <div class="lc-code-test">
                                    <h3> GN<br>568<br>.C3<br>L15 </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bookshelf">
                    <div class="books-st2">
                        <div class="parent uncorrect">
                            <div class="book default empty empty-4">
    
                            </div>
                        </div>
                        <div class="book first-book-color-st2">
                            <div class="book-name"> <span>Java</span> </div>
                            <div class="lc-code-test">
                                <h3> GN<br>568<br>.C29<br>K5 </h3> 
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-4">
    
                            </div>
                        </div>
                        <div class="book second-book-color-st2">
                            <div class="book-name"> <span>C++ 17</span> </div>
                            <div class="lc-code-test">
                                <h3> GN<br>568<br>.C29<br>K9 </h3>
                            </div>
                        </div>
                        <div class="parent">
                            <div class="book default empty empty-4">
    
                            </div>
                        </div>
                        <div class="book third-book-color-st2">
                            <div class="book-name"> <span>SQL</span> </div>
                            <div class="lc-code-test">
                                <h3> GR<br>568<br>.C32<br>K7 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-4">
    
                            </div>
                        </div>
                        <div class="book forth-book-color-st2">
                            <div class="book-name"> <span>Data Structures in Java</span> </div>
                            <div class="lc-code-test">
                                <h3> GR<br>569<br>.D5<br>1969 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-4">
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span class="hidden correct-result-4">
                    <%= correctResultHtml0 %>
                </span>
                <span class="hidden wrong-result-4">
                    <%= wrongResultHtml3 %>
                </span>
            </div>
        </div>
    </div>
    <!-- Sixth Question -->
    <div class="question-stage2">
        <div class="question-number">6-)</div>
        <div class="question-content">
            <div class="question-stage2-content">
                <div class="will-be-shelved">
                    <div class="default">
                        <div class="books fill-5" draggable="true">
                            <div class="book draggable-book">
                                <div class="book-name"> <span>Araba Sevdası</span> </div>
                                <div class="lc-code-test">
                                    <h3> Z<br>767<br>.5<br>.B1<br>J5 </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bookshelf">
                    <div class="books-st2">
                        <div class="parent uncorrect">
                            <div class="book default empty empty-5">
    
                            </div>
                        </div>
                        <div class="book first-book-color-st2">
                            <div class="book-name"> <span>Yaban</span> </div>
                            <div class="lc-code-test">
                                <h3> Z<br>767<br>.B25<br>P75 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-5">
    
                            </div>
                        </div>
                        <div class="book second-book-color-st2">
                            <div class="book-name"> <span>Aşk-ı Memnu</span> </div>
                            <div class="lc-code-test">
                                <h3> Z<br>767<br>.M165<br>1968 </h3>
                            </div>
                        </div>
                        <div class="parent">
                            <div class="book default empty empty-5">
    
                            </div>
                        </div>
                        <div class="book third-book-color-st2">
                            <div class="book-name"> <span>Kuyucaklı Yusuf</span> </div>
                            <div class="lc-code-test">
                                <h3> Z<br>767<br>.51<br>.B1J </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-5">
    
                            </div>
                        </div>
                        <div class="book forth-book-color-st2">
                            <div class="book-name"> <span>Hababam Sınıfı</span> </div>
                            <div class="lc-code-test">
                                <h3> Z<br>767<br>.53<br>.C45 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-5">
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span class="hidden correct-result-5">
                    <%= correctResultHtml0 %>
                </span>
                <span class="hidden wrong-result-5">
                    <%= wrongResultHtml3 %>
                </span>
            </div>
        </div>
    </div>
    <!-- Seventh Question -->
    <div class="question-stage2">
        <div class="question-number">7-)</div>
        <div class="question-content">
            <div class="question-stage2-content">
                <div class="will-be-shelved">
                    <div class="default">
                        <div class="books fill-6" draggable="true">
                            <div class="book draggable-book">
                                <div class="book-name"> <span>Ah Şu Çılgın Türkler</span> </div>
                                <div class="lc-code-test">
                                    <h3> ND<br>6108<br>.28<br>.K3 </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bookshelf">
                    <div class="books-st2">
                        <div class="parent uncorrect">
                            <div class="book default empty empty-6">
    
                            </div>
                        </div>
                        <div class="book first-book-color-st2">
                            <div class="book-name"> <span>Oyunlarla Yaşayanlar</span> </div>
                            <div class="lc-code-test">
                                <h3> ND<br>6101<br>.K2 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-6">
    
                            </div>
                        </div>
                        <div class="book second-book-color-st2">
                            <div class="book-name"> <span>Zübük</span> </div>
                            <div class="lc-code-test">
                                <h3> ND<br>6108<br>.L454<br>v.4 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-6">
    
                            </div>
                        </div>
                        <div class="book third-book-color-st2">
                            <div class="book-name"> <span>Bozkurtlar</span> </div>
                            <div class="lc-code-test">
                                <h3> ND<br>6108<br>.231<br>.J2 </h3>
                            </div>
                        </div>
                        <div class="parent">
                            <div class="book default empty empty-6">
    
                            </div>
                        </div>
                        <div class="book forth-book-color-st2">
                            <div class="book-name"> <span>İçimizdeki Şeytan</span> </div>
                            <div class="lc-code-test">
                                <h3> ND<br>6108<br>.3<br>.Z193 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-6">
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span class="hidden correct-result-6">
                    <%= correctResultHtml0 %>
                </span>
                <span class="hidden wrong-result-6">
                    <%= wrongResultHtml3 %>
                </span>
            </div>
        </div>
    </div>
    <!-- Eighth Question -->
    <div class="question-stage2">
        <div class="question-number">8-)</div>
        <div class="question-content">
            <div class="question-stage2-content">
                <div class="will-be-shelved">
                    <div class="default">
                        <div class="books fill-7" draggable="true">
                            <div class="book draggable-book">
                                <div class="book-name"> <span>The Paris Apartment</span> </div>
                                <div class="lc-code-test">
                                    <h3> GT<br>3062<br>.R19<br>L3 </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bookshelf">
                    <div class="books-st2">
                        <div class="parent">
                            <div class="book default empty empty-7">
    
                            </div>
                        </div>
                        <div class="book first-book-color-st2">
                            <div class="book-name"> <span>One Italian Summer</span> </div>
                            <div class="lc-code-test">
                                <h3> GT<br>3062<br>.R2<br>L2 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-7">
    
                            </div>
                        </div>
                        <div class="book second-book-color-st2">
                            <div class="book-name"> <span>The Lightning Rod</span> </div>
                            <div class="lc-code-test">
                                <h3> GT<br>3062<br>.R9 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-7">
    
                            </div>
                        </div>
                        <div class="book third-book-color-st2">
                            <div class="book-name"> <span>The Midnight Library</span> </div>
                            <div class="lc-code-test">
                                <h3> GT<br>3062<br>.S1 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-7">
    
                            </div>
                        </div>
                        <div class="book forth-book-color-st2">
                            <div class="book-name"> <span>The Atlas Six</span> </div>
                            <div class="lc-code-test">
                                <h3> GT<br>3063<br>.R19 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-7">
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span class="hidden correct-result-7">
                    <%= correctResultHtml0 %>
                </span>
                <span class="hidden wrong-result-7">
                    <%= wrongResultHtml3 %>
                </span>
            </div>
        </div>
    </div>
    <!-- Nineth Question -->
    <div class="question-stage2">
        <div class="question-number">9-)</div>
        <div class="question-content">
            <div class="question-stage2-content">
                <div class="will-be-shelved">
                    <div class="default">
                        <div class="books fill-8" draggable="true">
                            <div class="book draggable-book">
                                <div class="book-name"> <span>Big Data Analysis</span> </div>
                                <div class="lc-code-test">
                                    <h3> S<br>153.4<br>.P6<br>H491 </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bookshelf">
                    <div class="books-st2">
                        <div class="parent uncorrect">
                            <div class="book default empty empty-8">
    
                            </div>
                        </div>
                        <div class="book first-book-color-st2">
                            <div class="book-name"> <span>Data Science</span> </div>
                            <div class="lc-code-test">
                                <h3> S<br>153<br>.A19<br>P6 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-8">
    
                            </div>
                        </div>
                        <div class="book second-book-color-st2">
                            <div class="book-name"> <span>Data Engineering</span> </div>
                            <div class="lc-code-test">
                                <h3> S<br>153<br>.4<br>.A91<br>C3 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-8">
    
                            </div>
                        </div>
                        <div class="book third-book-color-st2">
                            <div class="book-name"> <span>Data Mining</span> </div>
                            <div class="lc-code-test">
                                <h3> S<br>153.4<br>.C31 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-8">
    
                            </div>
                        </div>
                        <div class="book forth-book-color-st2">
                            <div class="book-name"> <span>Big Data</span> </div>
                            <div class="lc-code-test">
                                <h3> S<br>153<br>.4<br>.P6C44 </h3>
                            </div>
                        </div>
                        <div class="parent">
                            <div class="book default empty empty-8">
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span class="hidden correct-result-8">
                    <%= correctResultHtml0 %>
                </span>
                <span class="hidden wrong-result-8">
                    <%= wrongResultHtml3 %>
                </span>
            </div>
        </div>
    </div>
    <!-- Tenth Question -->
    <div class="question-stage2">
        <div class="question-number">10-)</div>
        <div class="question-content">
            <div class="question-stage2-content">
                <div class="will-be-shelved">
                    <div class="default">
                        <div class="books fill-9" draggable="true">
                            <div class="book draggable-book">
                                <div class="book-name"> <span>The Architecture</span> </div>
                                <div class="lc-code-test">
                                    <h3> HV<br>754<br>.C7723 </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bookshelf">
                    <div class="books-st2">
                        <div class="parent uncorrect">
                            <div class="book default empty empty-9">

                            </div>
                        </div>
                        <div class="book first-book-color-st2">
                            <div class="book-name"> <span>Cool Women Who Design Structures</span> </div>
                            <div class="lc-code-test">
                                <h3> HV<br>753<br>.J38<br>1978 </h3>
                            </div>
                        </div>
                        <div class="parent">
                            <div class="book default empty empty-9">

                            </div>
                        </div>
                        <div class="book second-book-color-st2">
                            <div class="book-name"> <span>The Making of Metaphors</span> </div>
                            <div class="lc-code-test">
                                <h3> HV<br>754<br>.D98 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-9">

                            </div>
                        </div>
                        <div class="book third-book-color-st2">
                            <div class="book-name"> <span>Architecture: An Introduction</span> </div>
                            <div class="lc-code-test">
                                <h3> HV<br>754<br>.C15 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-9">

                            </div>
                        </div>
                        <div class="book forth-book-color-st2">
                            <div class="book-name"> <span>Architecture and Fire</span> </div>
                            <div class="lc-code-test">
                                <h3> HX<br>.754<br>.C9<br>1963 </h3>
                            </div>
                        </div>
                        <div class="parent uncorrect">
                            <div class="book default empty empty-9">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-result">
                <span class="hidden correct-result-9">
                    <%= correctResultHtml0 %>
                </span>
                <span class="hidden wrong-result-9">
                    <%= wrongResultHtml3 %>
                </span>
            </div>
        </div>
    </div>
</div>